body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #22272b;
}

header {
    background-color: #5d8244;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #e0e3ea;
    font-family: Arial;
}

.logo {
    order: 1;
    margin-right: auto;
}

.notes-dropdown {
    order: 2;
    margin-right: 20px;
    position: relative;
    display: block;
}

.tasks {
    display: flex;
    order: 3;
    margin-right: 1000px;
}

.profile {
    display: inline;
    order: 5;
    float: inline-end;
}


.notes-dropdown-content {
    display: none;
    position: absolute;
    background-color: #262b30;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.notes-dropdown:hover .notes-dropdown-content {
    display: block;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-box {
    position: absolute;
    top: 4%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: #666666;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding-left: 6px;
    padding-right: 0;
}

.search-box:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    color: #eeeeee;
    float: right;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration:none;
}

.search-btn > i {
    font-size: 20px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 5px;
}

nav ul li.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
}

.profile {
    margin-left: auto;
    padding: 0;
    float: right;
} */


/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #394D39;
    padding: 5px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #FFF;
    text-decoration: none;
} */

header img {
    margin-right: 10px;
}

main {
    padding: 20px;
}

#content {
    background-color: #E5E1CC;
    padding: 20px;
    margin: 0 20px;
}

footer {
    background-color: #394D39;
    padding: 10px;
    text-align: right;
}

.green-button {
    display: inline-block;
    background-color: #518A50;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.green-button:hover {
    background-color: #306A34;
}