{% extends "index.html" %} 
{% block content %}
<main>
    {% if notes %}
      {% for note in notes %}
        <div class="note">
          <div class="note_header">{{ note.title }}</div>
          <br>
          <div class="note_text">{{ note.text }}</div>
          <div class="note_date-created">Дата создания: {{ note.get_formatted_timestamp() }}</div>
          {% if note.deadline %}
          <div class="note_date-estimated">Выполнить к: {{ note.get_formatted_deadline() }}</div>
          {% else %} <div class="note_date-estimated">---</div> {% endif %}
          <div class="note_menu">
            <ul>
              {% if note.is_done %}
              <li><a href="/done/{{ note.id }}">Отметить как невыполненное</a></li>
              {% else %}
              <li><a href="/done/{{ note.id }}">Отметить как выполненное</a></li>
              {% endif %}
              <li><a href="/delete/{{ note.id }}">Удалить</a></li>
              <li><a href="/edit/{{ note.id }}">Редактировать</a></li>
            </ul>
          </div>
        </div>
      {% endfor %}
    {% else %} <h1>Нет заметочек :(</h1>
    {% endif %}
  </main>
  {% endblock %}