<header>
    <nav>
        <a class="logo" href="{{ url_for('author_notes') }}"><img src="../static/img/logo.png" alt="Логотип"></a>
        <div class="main-page">
            <a href="{{ url_for('main_page') }}" class="nd">Главная страница</a>
        </div>
        <div class="notes-dropdown">
            <a href="{{ url_for('author_notes') }}" class="nd">Личные заметки</a>
            <div class="notes-dropdown-content">
                <a href="/done/" class="ndc">Выполненные</a>
                <a href="/undone/" class="ndc">Невыполненные</a>
                <a href="{{ url_for('add_note') }}" class="ndc">Создать заметку</a>
            </div>
        </div>
        <div class="tasks"><a href="#">Доска задач (в разработке)</a></div>

        <div class="notification"><img src="../static/img/bell.png" alt="Уведомления">
            <div class="notice">
            {% if notes %}
                {% for note in notes %}
                    {% set notices = note.get_notice() %}
                    {% if notices %}
                        <div>Если вы выполнили заметку {{ notices }}, то отметьте ее выполненной </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="profile"><img src="../static/img/user.png" alt="Авторизация">
            <div class="profile-dropdown-content">
                {% if username %}
                <a class="privet">Здравствуйте, {{ username }}</a>
                <br>
                <a href="{{ url_for('change_password') }}" class="prfcnt">Смена пароля</a>
                <a href="{{ url_for('logout') }}" class="prfcnt">Выход из профиля</a>
                {% endif %}
                {% if not username %}
                <a href="{{ url_for('login') }}" class="prfcnt">Войти в профиль</a>
                <a href="{{ url_for('register') }}" class="prfcnt">Регистрация</a>
                {% endif %}
            </div>
        </div>
        <div class="search-box">
            <form action="/search" method="POST">
                <input type="text" name="search_term" class="search-txt" placeholder="Поиск по заметкам" />
                <button type="submit" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </nav>
</header>