
<header>
    <nav>
        <a class="logo" href="{{ url_for('author_notes') }}"><img src="../static/img/logo.png" alt="Логотип"></a>
        <div class="notes-dropdown">
            <a href="#" class="nd">Личные заметки</a>
            <div class="notes-dropdown-content">
                <a href="#" class="ndc">Выполненные</a>
                <a href="{{ url_for('author_notes') }}" class="ndc">Невыполненные</a>
                <a href="{{ url_for('add_note') }}" class="ndc">Создать заметку</a>
                <a href="#" class="ndc">Удалить заметку</a>
            </div>
        </div>
        <div class="tasks"><a href="#">Доска задач</a></div>

        <div class="profile"><img src="../static/img/bell.png" alt="Уведомления"></div>
        <div class="profile"><img src="../static/img/user.png" alt="Авторизация"></div>
        <div class="search-box">
            <form action="/" method="POST">
                <input type="text" name="search_term" class="search-txt" placeholder="Поиск по заметкам" />
                <button type="submit" class="search-btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </nav>
</header>