<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!--<link rel="stylesheet" href="static/css/bootstrap.min.css">-->
    <title>Сайт заметок</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="static/img/logo.png" alt="Логотип" href="#"></li>
                <li class="dropdown">
                    <a href="#">Личные заметки</a>
                    <div class="dropdown-content">
                        <a href="#">Выполненные</a>
                        <a href="#">Невыполненные</a>
                        <a href="#">Поиск</a>
                        <a href="#">Создать заметку</a>
                        <a href="#">Удалить заметку</a>
                    </div>
                </li>
                <li><a href="#">Доска задач</a></li>
                <li><img src="static/img/bell.png" alt="Уведомления"></li>
                <li><img src="static/img/user.png" alt="Авторизация"></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="content">
            <!-- Содержание личных заметок пользователя -->
        </div>
    </main>
    <footer>
        <a href="#" class="green-button">Создать заметку</a>
    </footer>
</body>
</html>