<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author", content="FixerSibg">
    <meta name="description", content="registration page">
    <meta name="keywords", content="note, board">
    <title>Регистрация SGNotes</title>
  </head>
  <body>
    Для регистрации введите следующие данные:
    <form action="" method="post">

        <label for="nickname">Введите никнейм</label>
        <input type="text" placeholder="Введите никнейм (обязательно)" maxlength="100" name="nickname"><br><br>

        <label for="firstname">Введите имя</label>
        <input type="text" placeholder="Введите имя (необязательно)" maxlength="50" name="firstname"><br><br>

        <label for="secondname">Введите фамилию</label>
        <input type="text" placeholder="Введите фамилию (необязательно)" maxlength="100" name="secondname"><br><br>

        <label for="email">Введите почту</label>
        <input type="email" placeholder="Введите почту (обязательно)" name="email"><br><br>

        <label for="password">Введите пароль</label>
        <input type="password" placeholder="Введите пароль (обязательно)" name="password"><br><br>

        <label for="repeatpassword">Повторите пароль</label>
        <input type="password" placeholder="Повторите пароль" name="repeatpassword"><br><br>

        <input type="submit" value="Отправить">
    </form>
  </body>
</html>